---
import Layout from '@layouts/Layout.astro';
import ContactSplit from '@/components/contact/ContactSplit';
---

<Layout title="Contact | National Federation of Insurance Agents">
  <div class="w-full md:px-10 md:py-20">
    <ContactSplit />
  </div>
</Layout>
