---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Verification from '../components/Verification.astro';
import Benefits from '../components/Benefits.astro';
import Directory from '../components/Directory.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="National Federation of Insurance Agents">
  <Header />
  <div class="my-10 flex w-full max-w-6xl flex-col items-center justify-center gap-10">
    <About />
    <Verification />
    <Benefits />
    <Directory />
  </div>
  <Contact />
</Layout>
