---
import MegaMenu from '@/components/footer/MegaMenu.astro';
import { getFooterSections } from '@/lib/navigation';

const sections = getFooterSections();
---

<footer class="w-full border-t-4 border-slate-700 bg-black px-4 py-8 text-slate-400">
  <div class="mx-auto max-w-6xl">
    <div class="flex flex-col items-start justify-between gap-8 md:flex-row">
      <!-- left part -->
      <div class="flex flex-col items-start justify-start gap-5">
        <div class="">
          <a href="/">
            <img src="/logo.webp" alt="NFIA Logo" class="mb-4 h-16 w-16 object-contain" />
          </a>
          <p class="text-xs uppercase tracking-widest">National Federation of Insurance Agents</p>
          <p class="mt-2 text-sm text-slate-500">Federal Agent Verification Authority</p>
        </div>
      </div>
      <!-- right part -->
      <MegaMenu sections={sections} />
    </div>

    <div class="mt-8 border-t border-slate-700 pt-4 text-center">
      <p class="text-center text-[0.75rem] uppercase tracking-widest text-slate-500">
        ©2025 National Federation of Insurance Agents. All rights reserved.
      </p>
    </div>
  </div>
</footer>
