---
import Layout from '@layouts/Layout.astro';
import Contact from '@/components/Contact.astro';
import Search from '@/components/contact/Search.tsx';
---

<Layout title="Search | National Federation of Insurance Agents">
  <div
    class="container mx-auto flex h-auto w-full max-w-7xl flex-col items-center justify-center space-y-10 py-10 md:h-[80vh] md:px-10 md:py-20"
  >
    <h1 class="mx-auto mb-4 max-w-3xl text-center text-2xl font-medium md:text-5xl">
      Find our verified official agents below
    </h1>
    <Search client:load />
    <span class="text-center text-sm text-slate-500">Search for your agent by one of these fields</span>
  </div>
  <Contact />
</Layout>
