---
import Layout from '@layouts/Layout.astro';
import Profile from '@components/agents/Profile.astro';
import State from '@components/agents/State.astro';
import Recognition from '@components/agents/Recognition.astro';
import Biography from '@components/agents/Biography.astro';
import Verification from '@components/agents/Verification.astro';
import Contact from '@components/agents/Contact.astro';
import { getAllAgents, getAgent } from '@utils/sanity';
import type { InferGetStaticParamsType } from 'astro';

export const prerender = false;

export async function getStaticPaths() {
  const agents = await getAllAgents();

  return agents.map((item: any) => ({
    params: { slug: item.slug },
    props: item,
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const agent = await getAgent(slug);
---

<Layout title="Agent | National Federation of Insurance Agents">
  <div class="mx-auto w-full max-w-7xl px-5 md:container">
    <Profile {...agent} />
    <State {...agent} />
    <Recognition />
    <Biography {...agent} />
    <Verification />
    <Contact {...agent} />
  </div>
</Layout>
