---
import Layout from '@layouts/Layout.astro';
import Profile from '@components/agents/Profile.astro';
import State from '@components/agents/State.astro';
import Recognition from '@components/agents/Recognition.astro';
import Biography from '@components/agents/Biography.astro';
import Verification from '@components/agents/Verification.astro';
import Contact from '@components/agents/Contact.astro';
---

<Layout title="Agent | National Federation of Insurance Agents">
  <div class="container mx-auto w-full max-w-7xl">
    <Profile />
    <State />
    <Recognition />
    <Biography />
    <Verification />
    <Contact />
  </div>
</Layout>
